@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

/* Global Configures */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

/* Global colors */
:root{
    --main-color:rgb(235, 41, 41);
    --text-color:#fff;
    --bg-color:#020307;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);

}

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    /* position: fixed;
    top: 0;
    z-index: 10; */

    display: flex;
    justify-content: space-between;

    padding: 20px 100px;
background-color: black;
    transition: 0.5s;
    /* background-color: gray; */
}

.logo{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text-color);
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.logo i{
    margin-right: 5px;
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 5rem;

}
.navbar li{
    position: relative;
}
.navbar li a{
    color: var(--text-color);
}

.navbar a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0; 
    transition-duration: 0.5s;
}

.navbar a:hover::after,.navbar .active::after{
    width: 100%;
}

.btn{
    background-color: var(--main-color);
    padding: 0.7rem 1.4rem;
    color: var(--text-color);
    border-radius: 0.5rem;
}

.btn:hover{
    background-color: #f60d0d;
}

.container{
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
   
}

.container img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.4;

}

.home-text{
    padding-left: 150px;
} 

.home-text span{
    color: var(--text-color);
    font-weight: bold;
}

.home-text h1{
    color: var(--text-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.home-text .play{
    position: absolute;
    right: 4rem;
    bottom: 10%;
   
}

.home-text .play .bx{
    color: var(--text-color);
    font-size: 2rem;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 10PX;
    border:4px solid rgb(2,3,7,0.4);
    margin-right: 30px;
}

.home-text .play:hover{
    transform: scale(1.2);
    transition: 0.5s;
    filter: brightness(1.3);
}

/* movie section */
.heading {
    max-width: 968px;
    margin: 20px auto 10px auto;
    font-size: 1.2rem;
    font-weight:bold;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}

.movie_container{
    max-width: 960px;
    margin: 0 auto 0 auto;
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
    
}

.box .box-img{
    width: 100%;
    height: 270px;
}

.box .movie-text{
    margin: 2rem 0;
}

.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    box-shadow: 10px 5px 10px #34344a;
}

.box .box-img img:hover{
    transform: translateY(-10px);
    filter: brightness(1.2);
}